* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  font-family: sans-serif;
  height: 100%;
}
.play-logo {
  width: 25px;
  margin-left: 40px;
  margin-top: 15px;
  display: inline-block;
}
p {
  display: inline-block;
  font-size: 10px;
}

.GC {
  margin-left: 400px;
  margin-right: 20px;
}
.VR {
  margin-right: 20px;
}
.MR {
  margin-right: 20px;
}
.others {
  margin-right: 15px;
}
.menu-bar {
  width: 15px;
  cursor: pointer;
}
.second-div {
  width: 180px;
  margin-left: 40px;
  margin-top: 100px;
  border-left: 3px solid #ff3527;
  padding-left: 8px;
  display: flex;
}
.ps4-text {
  width: 200px;
  font-weight: bold;
  font-size: 25px;
}
.wireless-text {
  font-size: 11px;
  margin-top: 10px;
}
.comp {
  color: darkgray;
  font-size: 9px;
  margin-top: 8px;
}
.pad-back {
  position: relative;
  left: 550px;
  background-color: #ff3527;
  width: 400px;
  height: 250px;
  margin-top: -125px;
  border-radius: 20px;
}
.third-div {
  margin-top: 15px;
  margin-left: 55px;
  font-size: 10px;
  font-weight: bolder;
}
button {
  font-size: 8px;
  padding: 7px 25px;
  margin-top: 15px;
  margin-left: 20px;
  background-color: #ff3527;
  border: none;
  border-radius: 3px;
  color: white;
}
.fourth-div {
  margin-top: -80px;
  margin-right: 80px;
  /* position: relative; */
}
.pad-img {
  width: 300px;
  position: absolute;
  left: 400px;
  transform: translateY(-100%);
  
}

/* img {
  width: 10px;
} */

.fifth-div {
  text-align: center;
}
.footer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.footer > a {
  width: 46px;
  aspect-ratio: 1 / 1;
}